{% extends 'cadmin/base.html' %}

{% block content %}
<body>
   
     
        <main>
           
                <h2>Categories</h2>
                <div class="search-bar">
                    <form method="GET" action="">
                        <input type="text" name="query" placeholder="Search" class="search-input" value="{{ request.GET.query }}">
                        <button type="submit" class="search-button">Search</button>
                    </form>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th data-label="category ID">Category ID</th>
                            <th data-label="Name">Name</th>
                            <th data-label="slug">Slug</th>
                            <th data-label="Description">Description</th>
                            <th data-label="Image">Image</th>
                            <th data-label="Options">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td data-label="Category ID">{{ category.id }}</td>
                            <td data-label="Name">{{ category.category_name }}</td>
                            <td data-label="Slug">{{ category.slug }}</td>
                            <td data-label="Description">{{ category.description }}</td>
                            <td data-label="Image">
                                {% if category.cat_image %}
                                    <img src="{{ category.cat_image.url }}" alt="{{ category.category_name }}" class="product-image">
                                {% else %}
                                    No Image
                                {% endif %}
                            </td>
                           
                                <td data-label="Options">
                              
                                    {% if category.is_active %}
                                    <a href="{% url 'desable_category' category.id %}">Disable</a>
                                    <a href="{% url 'edit_category' category.id %}">Edit</a>
                                    {% else %}
                                    <a href="{% url 'enable_category' category.id %}" >Enable</a>
                                    {% endif %}
                                  
                                </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if categories.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ categories.previous_page_number }}">previous</a>
                        {% endif %}
            
                        <span class="current">
                            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
                        </span>
            
                        {% if categories.has_next %}
                            <a href="?page={{ categories.next_page_number }}">next</a>
                            <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <a href="{% url 'add_category' %}" class="add-product-btn">Add Category</a>
         
        </main>
   
</body>

{% endblock %}